body {
    background-color: #1c1c1c;
    color: #ffffff;
}
.swagger-ui .topbar {
    background-color: #990000;
}
.swagger-ui .info {
    background-color: #333333;
    border-left: 5px solid #990000;
}
.swagger-ui .btn.authorize {
    background-color: #990000;
    color: #ffffff;
}
.swagger-ui .btn.authorize:hover {
    background-color: #cc0000;
}
.swagger-ui .response-col_status {
    background-color: #990000;
    color: #ffffff;
}
